{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" } ],
        "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "import/prefer-default-export": "off",
        "object-curly-newline": "off",
        "no-unused-vars": "off",
        "no-param-reassign": "off",
        "react/jsx-props-no-spreading": "off",
        "no-useless-escape":"warn",
        "no-confusing-arrow":"warn",
        "implicit-arrow-linebreak":"off",
        "operator-linebreak":"warn",
        "react/jsx-one-expression-per-line": "off"
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}